table
{
    table-layout: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    cursor:pointer;
}

td
{
    border: 5px solid;
    text-align:center; 
    vertical-align:middle;
    font-size: 90%;
}

button, input
{
    display: block;
    width: 100%;
}

.bg-header
{
    background-color: #C99D66;
}

.container
{
    background-color: #ECF0F1;
    color: #3C3C3D;
}

.info-box
{
    text-align: left;
    background-color: #e2e8e9;
}

.hidden { display:none; }

.disabled td {border-color:#cccccc; }

.top-buffer { margin-top:20px; }

.buffer { margin: 10px;}

.highlight {
  outline: 5px solid darkgoldenrod;
  background: transparent;
}